body{
font-size:19px;
text-align:center;
}
table{
width:50%;
margin:30px auto;
border-collapse:collapse;
text-align:center;
}
tr{
border-bottom:1px solid #cbcbcb;
}
th,td{
border:none;
height:30px;
padding:2px;
}
tr:hover{
background: #F5F5F5;
}
form{
width:30%;
margin:50px auto;
text-align:center;
padding:20px;
border:1px solid #bbbbbb;
border-radius:5px;
}
.admincent{
margin:100px auto;	
}
.admin a{
text-decoration:none;
}
.error{
color:red;	
}
.input-group input{
height:30px;
width:50%;
padding: 5px 10px;
font-size:16px;
border-radius:5px;
border:1px solid gray;
}
.btn{
padding:10px;
font-size:15px;
color:white;
background: #5F9EA0;
border:none;
border-radius:5px;
}
.edit_btn{
text-decoration:none;
padding:2px 5px;
background: #2E8B57;
color:white;
border-radius:5px;
}
.del_btn{
text-decoration:none;
padding:2px 5px;
color:white;
border-radius:3px;
background:#800000;
}
.msg{
margin:30px auto;
padding:10px;
border-radius:5px;
color: #3c763d;
background: #dff0d8;
border: 1px solid #3c763d;
width:50%;
text-align:center;
}